@{
  ViewBag.Title = "Home Page";
}

<!-- All html code -->

<h1> Accueil </h1>

<div class="container-fluid mt-3">

  <button class="btn btn-primary oldElement"> Test append </button>

  <button class="btn btn-primary newElement" onclick="ModifyText()"> Test functionnalities </button>

  <div class="newHtml">

  </div>

</div>

<!-- All script -->

<script>

  $(document).ready(function () {

    $('.oldElement').click(function () {

      $('.newHtml').append("test");

    });

  });

  function ModifyText() {
    alert($('.newHtml').text());
  }

</script>