@{
  ViewBag.Title = "Home Page";
}

<!-- All html code -->

<h1> Accueil </h1>

<div class="container-fluid mt-3">

  <button class="btn btn-primary oldElement" onclick="appendeo()" data-bs-toggle="modal" data-bs-target="#exampleModal"> Test append </button>

  <button class="btn btn-primary newElement" onclick="ModifyText()"> Test functionnalities </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  </div>

</div>


  <!-- All script -->

<script>

  function appendeo() {
    console.log('itany');

    $('.modal').html('<div class="modal-dialog">' +
      '<div class="modal-content">' +
      '<div class="modal-header">' +
      '<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>' +
      '<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>' +
      '</div>' +
      '<div class="modal-body">' +
      '</div>' +
      '<div class="modal-footer">' +
      '<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>' +
      '<button type="button" class="btn btn-primary">Save changes</button>' +
      '</div>' +
      '</div>' +
      '</div>');

  }

  function ModifyText() {
    $('.testAppend').empty();
  }

</script>
