@{
  ViewBag.Title = "Home Page";
}

<!-- All html code -->

<h1> Accueil </h1>

<div class="container-fluid mt-3">

  <button class="btn btn-primary newElement"> Test append </button>

  <div class="newHtml">

  </div>

</div>

<!-- All script -->

<script>

  $(document).ready(function () {

    $('.newElement').click(function () {

      $('.newHtml').append("test");

    });

  });

</script>